@charset "utf-8";
/* CSS Document */

body {
	color:#666666;
}
input {
	color:#666666;
}
.clearfix {
	zoom:1;
}
.clearfix:after {
	clear:both;
	content:".";
	display:block;
	height:0;
	visibility:hidden;
}
.right-rail .button {
	background:url(/KOP-202Mobil/assets/image/tc-global.png) repeat-x scroll 0 -314px #D1D1D2;
	cursor:pointer;
	font-weight:bold;
	height:auto;
	display:block;
	-moz-border-radius:0;
	border-radius:0;
	margin-right:0;
	padding:0;
}
.right-rail .button span {
	padding:0;
}
.right-rail .button span.text {
	border:0 none;
	color:#26336F;
	float:left;
	font-size:18px;
	line-height:20px;
	margin:8px;
}
.right-rail .button .icon {
	background:url(/KOP-202Mobil/assets/image/tc-icons.png) no-repeat scroll -17px -21px transparent;
	display:block;
	float:right;
	height:16px;
	margin:4px 0 0 8px;
	width:16px;
}
.right-rail .button .dropdown {
	background:url(/KOP-202Mobil/assets/image/tc-global.png) repeat-x scroll 0 -333px #CCCCCC;
	border-left:2px solid #999999;
	float:right;
	height:36px;
	width:40px;
}
.right-rail .button .dropdown .icon {
	background-position:-58px -21px;
	float:none;
	margin:12px 0 0 12px;
*margin-left:5px;
}
h1 {
	font-family:georgia;
	font-size:30px;
}
h1 a {
	display:block;
}
.shadow {
	background:url(/KOP-202Mobil/assets/image/dropshadow.png) repeat-x scroll 0 100% transparent;
	padding-bottom:10px;
}
#header_nav.tab-home li.tab-home, #header_nav.tab-home li.tab-home a {
	background:none repeat scroll 0 0 #FFFFFF;
}
#tc_content {
	padding-bottom:0;
}
#tc_article {
	padding:0;
	width:983px;
}
.flyout-menu {
	background-color:#FFFFFF;
	border:1px solid #CCCCCC;
	font-size:12px;
	padding:10px 15px;
	position:absolute;
	right:20px;
	z-index:99999;
}
.flyout-menu .content {
	overflow:hidden;
	width:450px;
}
.flyout-menu ul {
	float:left;
	width:112px;
}
.flyout-menu ul li {
	color:#035A8C;
	display:block;
	font-weight:bold;
	height:24px;
	line-height:24px;
}
.flyout-menu ul li:hover {
	color:#000000;
}
.vehicle-type {
	position:relative;
}
#type_list {
	border:0 none;
	padding:0;
	right:0;
}
#type_list .content {
	width:405px;
}
#type_list ul {
	float:none;
	width:auto;
}
#type_list li {
	background:url(/KOP-202Mobil/assets/image/truecar_data/body-type-bg.png) no-repeat scroll 0 0 transparent;
	border:1px solid #CCCCCC;
	color:#3399CC;
	float:left;
	height:94px;
	text-align:center;
	text-transform:capitalize;
	width:133px;
}
#type_list li span {
	display:block;
	margin-top:65px;
}
#type_list li.body-type-coupe {
	background-position:0 -94px;
}
#type_list li.body-type-hybrid {
	background-position:-266px -10px;
}
#type_list li.body-type-sedan {
	background-position:-133px 0;
}
#type_list li.body-type-suv {
	background-position:-133px -94px;
}
#type_list li.body-type-truck {
	background-position:-266px -94px;
}
#type_list li.body-type-van {
	background-position:0 -188px;
}
#type_list li.body-type-wagon {
	background-position:-133px -188px;
}
#type_list li.body-type-all {
	background:none repeat scroll 0 0 #FFFFFF;
}
#type_list li.body-type-all span {
	font-size:14px;
	margin-top:35px;
}
#type_list li:hover {
	background-color:#E5F5FF;
	color:#336699;
}
.go-container {
	padding:0 15px 20px 0
}
.go-wrapper {
	border:4px solid #CCCCCC;
	float:right;
}
#go {
	background:url(/KOP-202Mobil/assets/image/tc-global.png) repeat-x scroll 0 -314px #D1D1D2;
	border:2px solid #999999;
	float:left;
	margin:0;
	padding:8px;
}
#go .text {
	margin:0;
}
#go .icon {
	float:left;
	margin:3px 0 0 25px;
}
#flash-module {
	background:url(/KOP-202Mobil/assets/image/loader.gif) no-repeat scroll 50% 50% transparent;
	border:5px solid #CCCCCC;
	height:330px;
	margin:20px 0 10px;
	width:595px;
}
#home_top {
	clear:both;
	padding:20px;
}
#home_bottom {
	padding:20px;
	border-top:1px solid #ccc;
}
.right-rail {
	float:right;
	padding:10px 0 10px 10px;
	width:322px;
}
#home_bottom .right-rail {
	background:url("/media/images/site/main_website/home/bg-divider.png") repeat-y scroll 0 0 transparent;
	padding-left:20px;
	width:300px;
}
.price-report-module {
	background:url(/KOP-202Mobil/assets/image/price-report-bg.png) repeat-x scroll 0 0 #1C4B81;
	border-bottom:1px solid #FFFFFF;
	color:#ADBCD0;
	padding-bottom:15px;
}
.price-report-module .logo {
	background:url(/KOP-202Mobil/assets/image/tc-logo.png) no-repeat scroll 0 0 transparent;
	height:45px;
	left:15px;
	position:absolute;
	top:10px;
	width:36px;
	_left:-45px;
}
.price-report-module strong {
	color:#FFFFFF;
	font-weight:bold;
}
.price-report-module .header {
	border-bottom:1px solid #141C4A;
	color:#FFFFFF;
	font-size:20px;
	padding:20px 0 10px 60px;
	position:relative;
}
.price-report-module .enter-zip {
	border-top:1px solid #1C4C81;
	padding:10px 20px 0;
}
.price-report-module .enter-zip p {
	padding-bottom:12px;
}
.price-report-module input {
	background:url(/KOP-202Mobil/assets/image/dropshadow.png) repeat-x scroll 0 0 #FFFFFF;
	border:0 none;
	color:#808080;
	float:right;
	font-size:20px;
	height:35px;
	margin:0;
	padding:0 15px 0;
	width:100px;
	line-height:35px;
}
.price-report-module label {
	color:#FFFFFF;
	float:left;
	font-size:18px;
	font-weight:bold;
	margin:8px 15px 0 0;
}
.price-report-module .button {
	margin:10px 20px 0;
	position:relative;
}
.best-local-deals-module .button {
	border:2px solid #999999;
}
.best-local-deals-module .select-type {
	border:5px solid #CCCCCC;
	margin:15px 0 0;
	position:relative;
	z-index:1;
}
.best-local-deals-module {
	background:none repeat scroll 0 0 #EBEBEB;
	margin-top:10px;
	width:320px;
}
.best-local-deals-module strong {
	font-weight:bold;
}
.best-local-deals-module .header {
	background:url(/KOP-202Mobil/assets/image/bld-hd-bg.png) no-repeat scroll 0 0 transparent;
	border-bottom:1px solid #CCCCCC;
	display:block;
	height:50px;
	padding-left:60px;
	color:#336699;
	line-height:60px;
	font-size:18px;
	vertical-align:bottom;
	overflow:hidden;
}
.best-local-deals-module .header sup {
	color:#998A54;
	font-family:arial;
	font-size:12px;
	font-weight:bold;
	line-height:12px;
	padding-left:0px;
	text-transform:uppercase;
}
.best-local-deals-module .vehicile-type {
	border-bottom:1px solid #CCCCCC;
	border-top:1px solid #FFFFFF;
	padding:10px 15px 15px;
}
.best-local-deals-module .vehicile-type strong {
	display:block;
}
.best-local-deals-module .price-range {
	border-top:1px solid #FFFFFF;
	padding:10px 15px 15px;
}
.best-local-deals-module .price-range p {
	margin-bottom:5px;
}
.best-local-deals-module .price-range span {
	float:left;
	height:35px;
	line-height:28px;
	padding:8px;
	vertical-align:middle;
	font-size:14px;
}
.best-local-deals-module .priceBox {
	background:none repeat scroll 0 0 #FFFFFF;
	border:5px solid #CCCCCC;
	float:left;
	position:relative;
}
.best-local-deals-module .max {
	float:right;
}
.best-local-deals-module .priceBox label {
	color:#B2B2B2;
	font-size:10px;
	left:5px;
	position:absolute;
	top:5px;
}
.best-local-deals-module .priceBox input {
	background:none repeat scroll 0 0 #FFFFFF;
	border:0 none;
	color:#333333;
	font-size:17px;
	height:35px;
	margin-left:30px;
	margin-right:8px;
	text-align:right;
	width:80px;
*font-size:14px;
	line-height:35px;
}
.detail-container {
	position:relative;
}
.deal-detail {
	background:none repeat scroll 0 0 #FFFFFF;
	padding:10px 0;
	position:absolute;
	z-index:1;
}
.detail-container .current {
	z-index:5;
}
.close-video-link {
	cursor:pointer;
	position:absolute;
	top:2px;
	right:5px;
	background:#000;
	float:right;
	text-align:right;
	font-size:11px;
	padding:2px 20px 7px 0;
	background:url(/KOP-202Mobil/assets/image/close-modal.png) 100% 2px no-repeat;
}
a#sign-up {
	background: url(/KOP-202Mobil/assets/image/png-8-sprite.png) no-repeat scroll -549px -465px transparent;
	border: 0 none;
	color: #FFFFFF;
	display: inline;
	float: left;
	font-size: 1.1em;
	font-weight: bold;
	height: 25px;
	left: 14px;
	padding: 0 22px 13px 0;
	position: relative;
	text-decoration: none;
}
a#sign-up b {
	background: url(/KOP-202Mobil/assets/image/png-8-sprite.png) no-repeat scroll -340px -465px transparent;
	display: block;
	left: -14px;
	padding: 5px 0 22px 25px;
	position: relative;
	white-space: nowrap;
}
a#sign-up b i {
	font-style: normal;
	font-weight: normal;
}
a#log-in, a#logged-in, a#logout, a#view-profile {
	border-bottom: 1px solid #C94242;
	color: #C94242;
	float: left;
	font-weight: bold;
	left: 14px;
	margin-top: 7px;
	padding-bottom: 2px;
	position: relative;
	text-decoration: none;
}
#login {
	background: url(/KOP-202Mobil/assets/image/png-8-sprite.png) no-repeat scroll -330px -75px transparent;
	height: 137px;
	left: 100px;
	position: absolute;
	top: 30px;
	width: 275px;
	z-index:1;
}
#login input.text {
	left: 15px;
	position: absolute;
	top: 24px;
	width: 84%;
}
#login input.pass {
	font-family: verdana;
	top: 55px;
	width: 70%;
}
#login button {
	background: url(/KOP-202Mobil/assets/image/png-8-sprite.png) no-repeat scroll -565px -219px transparent;
	border: 0 none;
	color: #FFFFFF;
	cursor: pointer;
	display: block;
	font-size: 1em;
	font-weight: bold;
	height: 23px;
	padding: 2px 0 4px;
	position: absolute;
	right: 19px;
	text-align: center;
	text-transform: uppercase;
	top: 55px;
	width: 31px;
}
#login a {
	border-bottom: 1px solid #EEC8C8;
	color: #F7E5E5;
	margin-bottom: 2px;
	position: absolute;
	right: 19px;
	text-decoration: none;
	top: 106px;
}
#login input.checkbox, #login b {
	left: 11px;
	position: absolute;
	top: 102px;
}
#login b {
	color: #F7E5E5;
	font-weight: normal;
	left: 33px;
	top: 106px;
}
#login div {
}
#login label.over {
	clear: left;
	color: #6E4F4F;
	float: left;
	margin: 10px 20px;
	position: relative;
	top: 19px;
	z-index: 999;
}
#login em {
	color: #FFFFFF;
	font-style: normal;
	left: 15px;
	position: absolute;
	top: 84px;
}
