@charset "utf-8";
/* CSS Document */
#body {
	padding:10px;
	padding-bottom:60px;	/* Height of the footer */
}


img {
	border:5px solid #372412;
	border-radius:8px ;
	width:730px; height:300px; 
	box-shadow:2px 2px 8px 8px #000;
}
#container {
	min-height:100%;
	position:relative;
}

#gallery {
	clear: both;
	width: 800px;
	height: 300px;
	margin: 0 auto;
}

#top-photo h2 {
	height: 1.4em;
	font-size: 1em;
}
#top-photo p {
	margin: 0;
	padding: 0 0 10px 0;
}